In [4]:
import os
os.environ['PYSPARK_PYTHON'] = 'python'

In [9]:
import pandas as pd
import numpy as np
from pyspark.sql import *
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.sql.functions import col,desc
from matplotlib import pyplot as plt
import seaborn as sns

In [11]:
from scipy import stats

In [12]:
spark = SparkSession.builder.appName("worksheet significance").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/23 11:42:19 WARN Utils: Your hostname, Eshikas-MacBook-Air.local, resolves to a loopback address: 127.0.0.1; using 10.1.12.249 instead (on interface en0)
25/12/23 11:42:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/23 11:42:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [29]:
state_df = spark.read.csv('state.csv' , header = True, inferSchema = True)
state_df.show

In [30]:
state_pd = state_df.toPandas()
state_pd.head()

   Population  Income  Illiteracy  Life Exp  Murder  HS Grad  Frost    Area
0        3615    3624         2.1     69.05    15.1     41.3     20   50708
1         365    6315         1.5     69.31    11.3     66.7    152  566432
2        2212    4530         1.8     70.55     7.8     58.1     15  113417
3        2110    3378         1.9     70.66    10.1     39.9     65   51945
4       21198    5114         1.1     71.71    10.3     62.6     20  156361

In [26]:
state_pd.shape

(2397, 1)

In [31]:
## Hypothesis Testing
state_pd.describe

<bound method NDFrame.describe of     Population  Income  Illiteracy  Life Exp  Murder  HS Grad  Frost    Area
0         3615    3624         2.1     69.05    15.1     41.3     20   50708
1          365    6315         1.5     69.31    11.3     66.7    152  566432
2         2212    4530         1.8     70.55     7.8     58.1     15  113417
3         2110    3378         1.9     70.66    10.1     39.9     65   51945
4        21198    5114         1.1     71.71    10.3     62.6     20  156361
5         2541    4884         0.7     72.06     6.8     63.9    166  103766
6         3100    5348         1.1     72.48     3.1     56.0    139    4862
7          579    4809         0.9     70.06     6.2     54.6    103    1982
8         8277    4815         1.3     70.66    10.7     52.6     11   54090
9         4931    4091         2.0     68.54    13.9     40.6     60   58073
10         868    4963         1.9     73.60     6.2     61.9      0    6425
11         813    4119         0.6     71.87     5.3     59.5    126   82677
12       11197    5107         0.9     70.14    10.3     52.6    127   55748
13        5313    4458         0.7     70.88     7.1     52.9    122   36097
14        2861    4628         0.5     72.56     2.3     59.0    140   55941
15        2280    4669         0.6     72.58     4.5     59.9    114   81787
16        3387    3712         1.6     70.10    10.6     38.5     95   39650
17        3806    3545         2.8     68.76    13.2     42.2     12   44930
18        1058    3694         0.7     70.39     2.7     54.7    161   30920
19        4122    5299         0.9     70.22     8.5     52.3    101    9891
20        5814    4755         1.1     71.83     3.3     58.5    103    7826
21        9111    4751         0.9     70.63    11.1     52.8    125   56817
22        3921    4675         0.6     72.96     2.3     57.6    160   79289
23        2341    3098         2.4     68.09    12.5     41.0     50   47296
24        4767    4254         0.8     70.69     9.3     48.8    108   68995
25         746    4347         0.6     70.56     5.0     59.2    155  145587
26        1544    4508         0.6     72.60     2.9     59.3    139   76483
27         590    5149         0.5     69.03    11.5     65.2    188  109889
28         812    4281         0.7     71.23     3.3     57.6    174    9027
29        7333    5237         1.1     70.93     5.2     52.5    115    7521
30        1144    3601         2.2     70.32     9.7     55.2    120  121412
31       18076    4903         1.4     70.55    10.9     52.7     82   47831
32        5441    3875         1.8     69.21    11.1     38.5     80   48798
33         637    5087         0.8     72.78     1.4     50.3    186   69273
34       10735    4561         0.8     70.82     7.4     53.2    124   40975
35        2715    3983         1.1     71.42     6.4     51.6     82   68782
36        2284    4660         0.6     72.13     4.2     60.0     44   96184
37       11860    4449         1.0     70.43     6.1     50.2    126   44966
38         931    4558         1.3     71.90     2.4     46.4    127    1049
39        2816    3635         2.3     67.96    11.6     37.8     65   30225
40         681    4167         0.5     72.08     1.7     53.3    172   75955
41        4173    3821         1.7     70.11    11.0     41.8     70   41328
42       12237    4188         2.2     70.90    12.2     47.4     35  262134
43        1203    4022         0.6     72.90     4.5     67.3    137   82096
44         472    3907         0.6     71.64     5.5     57.1    168    9267
45        4981    4701         1.4     70.08     9.5     47.8     85   39780
46        3559    4864         0.6     71.72     4.3     63.5     32   66570
47        1799    3617         1.4     69.48     6.7     41.6    100   24070
48        4589    4468         0.7     72.48     3.0     54.5    149   54464
49         376    4566         0.6     70.29     6.9     62.9    173   97203>

In [32]:
# #test wheather the mean murder rate is 8.5
murder_data = state_pd['Murder'].values
print(murder_data)

[15.1 11.3  7.8 10.1 10.3  6.8  3.1  6.2 10.7 13.9  6.2  5.3 10.3  7.1
  2.3  4.5 10.6 13.2  2.7  8.5  3.3 11.1  2.3 12.5  9.3  5.   2.9 11.5
  3.3  5.2  9.7 10.9 11.1  1.4  7.4  6.4  4.2  6.1  2.4 11.6  1.7 11.
 12.2  4.5  5.5  9.5  4.3  6.7  3.   6.9]

In [33]:
np.mean(murder_data)

np.float64(7.377999999999999)

In [41]:
t_stat = (np.mean(murder_data) - 8.5) /(np.std(murder_data, ddof=1) /np.sqrt(len(murder_data)))

In [35]:
df = len(murder_data)

In [36]:
p_value = 2 * stats.t.sf(np.abs(t_stat),df)

In [39]:
ci= stats.t.interval(0.95, df, 
                        loc =np.mean(murder_data),
                     scale = np.std(murder_data, ddof=1)/np.sqrt(murder_data))

In [42]:
print("Mean:", np.mean(murder_data))
print("sample standard deviation:", np.std(murder_data))

Mean: 7.377999999999999
sample standard deviation: 3.6544378500666825

In [43]:
print("Test Statics: " , t_stat)

Test Statics:  -2.1491677577323403

t_stat = -2.149
This means:
- The sample mean -2.149 standard errors away from 8.5
- Negative sign means the sample mean is below 8.5
- The larger the |t|, the more unusual our sample is

(mcq exam ma aauna sakcha values ko meaning)

|t| = 0.5 ---> Very close to hypothesized mean (not unusual)
|t| = 1.5 ---> Moderately far from hypothesized mean
|t| = 2.1 ---> far form hypthesized mean

In [ ]:
k